.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 3vh 1rem 0 1rem;
  margin-top: 10vh;
  color: white;
  text-align: center;
  cursor: default;
}

.About h1 {
  margin-bottom: 1rem;
  font-size: calc(45px + 0.5vw);
  font-family: 'Fira-Sans-Bolder';
  line-height: 3.5rem;
}

.About h2 {
  margin-bottom: 2rem;
  font-size: calc(20px + 0.5vw);
  font-family: 'Fira-Sans-Bold';
}

.About p {
  max-width: 720px;
  padding: 0 1rem 1rem 1rem;
  border-radius: 20px;
  background-color: black;
  font-size: calc(16px + 0.5vw);
  line-height: 2rem;
}

.About button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  .About h1 {
    font-size: 50px;
  }

  .About h2 {
    font-size: 22px;
  }

  .About p {
    font-size: 18px;
  }
}
