
.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 1.25rem 0;
  min-height: fit-content;
  gap: 2rem;
}

.socials img {
  background: white;
  border: solid 2px white;
  border-radius: 5px;
  height: 1.65em;
  max-height: 35px;
}

.socials img:hover {
  box-shadow: 0 0 4px 4px white;
}
