* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fira-Sans-Normal';
  src: url('../fonts/FiraSans-Light.ttf');
}

@font-face {
  font-family: 'Fira-Sans-Bold';
  src: url('../fonts/FiraSans-Medium.ttf');
}

@font-face {
  font-family: 'Fira-Sans-Bolder';
  src: url('../fonts/FiraSans-Bold.ttf');
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 220px;
  height: 100vh;
  padding-bottom: 0rem;
  overflow-y: auto;
  font-family: 'Fira-Sans-Normal';
  background: url('../background.png');
  background-position: center;
  background-size: cover;
  background-color: black;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: inherit;
  padding: 0 1rem;
  margin-top: max(5vh, 50px);
  color: white;
  text-align: center;
  cursor: default;
}

.about h1 {
  margin-bottom: 1rem;
  font-size: calc(45px + 0.5vw);
  font-family: 'Fira-Sans-Bolder';
  line-height: 3.5rem;
}

.about h2 {
  margin-bottom: 2rem;
  font-size: calc(20px + 0.5vw);
  font-family: 'Fira-Sans-Bold';
}

.about p {
  max-width: 720px;
  padding: 0 1rem 1rem 1rem;
  border-radius: 20px;
  background-color: black;
  font-size: calc(16px + 0.5vw);
  line-height: 2rem;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 0 1.25rem 0;
  min-height: fit-content;
}

/* .socials div {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: bolder;
  font-size: 1.4rem;
  text-decoration: none;
} */

.socials a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: bolder;
  font-size: calc(11px + 0.4rem);
  text-decoration: none;
  color: white;
}

.socials img {
  background: white;
  border: solid 2px white;
  border-radius: 5px;
  height: 1.1em;
  max-height: 32px;
}

.socials img:hover {
  box-shadow: 0 0 4px 4px white;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 4rem 1rem;
  margin-top: 2vh;
  cursor: default;
  row-gap: min(5vh, 30px);
  column-gap: 5vh;
  max-width: 1500px;
}

h3 {
  font-family: 'Fira-Sans-Bolder';
  font-size: calc(22px + 0.5vw);
  color: white;
  text-align: center;
  margin-top: min(10vh, 100px);
  cursor: default;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 95%;
  max-width: 480px;
  border: solid 2px white;
  border-radius: 20px;
  color: white;
  background-color: black;
}

.project img {
  align-self: center;
  width: 100%;
}

.project h2 {
  font-family: 'Fira-Sans-Bolder';
  font-size: calc(18px + 0.5vw);
  margin-top: 1rem;
}

.project p {
  font-family: 'Fira-Sans-Normal';
  font-size: calc(13px + 0.5vw);
  line-height: 1.5rem;
  margin: 1vh 0;
  text-align: left;
}

.buttons {
  display: flex;
  justify-self: flex-end;
  justify-content: center;
  gap: 5vmin;
  margin: 0.5vh;
}

.project a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1.25rem;
  border: solid 2px white;
  border-radius: 20px;
  font-family: 'Fira-Sans-Bolder';
  font-size: calc(12px + 0.5vw);
}

.project a:hover {
  color: black;
  background-color: white;
}

@media screen and (min-width: 400px) {
  .about h1 {
    font-size: 50px;
  }

  .about h2 {
    font-size: 22px;
  }

  .about p {
    font-size: 18px;
  }
}

@media screen and (min-width: 550px) {
  h3 {
    font-size: 22px;
  }
  
  .project h2 {
    font-size: 20px;
  }

  .project p {
    font-size: 16px;
  }

  .project a {
    font-size: 14px;
  }
}

@media screen and (min-width: 980px) {
  .projects {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
